.bg-color {
  background-color: #f8f1ea;
}

.nav-color {
  background-color: #ebb44f;
}

.footer-color {
  background-color: #ffffff;
}

.text-color {
  color: #452518;
}

.titoli-font {
  font-family: 'Lora', serif;
}

.font {
  font-family: 'Roboto', sans-serif;
}
