.carousel-fullscreen {
  width: 100%;
  height: 75vh;
}

.carousel-img {
  width: 100%;
  height: 75vh;
  object-fit: cover;
}

/* Sfumatura sopra e sotto l'immagine */
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  );
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Testo centrato sopra l'immagine */
.overlay-text {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  z-index: 2;
}
